<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="games">
      <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>

                <th>jugadores</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>

                <td>0/4</td>
                <td class="body_button"><button class="btn btn-hover">
                  <span class="btn-text">Unete</span>
                </button></td>
            </tr>
            <tr class="active-row">
                <td>2</td>

                <td>0/4</td>
                <td class="body_button"><button class="btn btn-hover">
                  <span class="btn-text">Unete</span>
                </button></td>
            </tr>
            <tr class="active-row">
              <td>2</td>

              <td>0/4</td>
              <td class="body_button"><button class="btn btn-hover">
                <span class="btn-text">Unete</span>
              </button></td>
          </tr>
          <tr class="active-row">
            <td>2</td>
  
            <td>0/4</td>
            <td class="body_button"><button class="btn btn-hover">
              <span class="btn-text">Unete</span>
            </button></td>
        </tr>
        <tr class="active-row">
                <td>2</td>

                <td>0/4</td>
                <td class="body_button"><button class="btn btn-hover">
                  <span class="btn-text">Unete</span>
                </button></td>
            </tr>
        </tbody>
    </table>
    </div>
  <div class="create_game">.</div>
  </div>
  
</body>
</html>