
.container{
    padding: 0%;
    margin: 0% auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3;
    width: 100%;

    padding: 1rem;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.games{
    width: 50%;
    padding-right: 10px;
    
}

/*css table*/
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    width: 20%;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}




  /*css create game*/
    .create_game{
        height: 100px;   
        width: 15%;
        background-color: green;
    }
    @media only screen and (max-width: 750px) {
      .create_game {
        width: 50px; /* O cualquier otro valor deseado */
      }
    }
    .active_games{
      height: 100px;   
      width: 30%;
      background-color: green;
      margin-right: 10px;
    }