.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-content{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}