.container1{
  padding: 10px;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
}
.container2{
    padding: 0%;
    margin: 0% auto;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .stats,.rooms,.dashboard{
    height: 100%;
  }

  @media only screen and (max-width: 937px) {
    .container2 {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100vw;
    }
}