<app-header></app-header>

<div class="profile-container">
  <div class="profile-info">
    <div class="info-item">
      <span>Nickname:</span>
      <label>{{description.nickname}}</label>
    </div>
    <div class="info-item">
      <span>Nombre:</span>
      <label>{{description.nombre}}</label>
    </div>
    <div class="info-item">
      <span>Email:</span>
      <label>{{description.email}}</label>
    </div>
    <div class="info-item">
      <span>Saldo:</span>
      <label>{{description.saldo}}</label>
    </div>
    <div class="info-item">
      <span>Password:</span>
      <label>{{description.password}}</label>
    </div>
  </div>


  <div class="modifie-account-bn">
    <button mat-raised-button color="warn" (click)="modifieAccount()">Modifie Account</button>
  </div>
  <br>
  <div class="delete-account-btn">
    <button mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
  </div>

</div>
<app-footer></app-footer>
