<div class="create_game">
    <a class="button-82-pushable" role="button" (click)="createGame()">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          CREATE GAME
        </span>
    </a>
    <div class="money">
      <h2>Dinero: {{ money }} fichas</h2>
    </div>
    <div class="rediment">   
      <h2>Rendimiento de: {{ calcularRendimiento() }}%</h2>
    </div>
    <div class="total_bet">
      <h2>Total apostado: {{ total_bet }} fichas</h2>
    </div>
</div>
