.stats{
    width: 48vw;
    background-color: rgba(0, 128, 0, 0.065);
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
  }

  @media only screen and (max-width: 937px) {
    .stats {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 90vw;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
  }