.contenedor {
    
    padding-left: 1vw;
    width: 80vw;
    height: 90%;
    margin-left: 10vw;
    margin-top: 2vw;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}


.celda {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    
}

.c1, .c3, .c7, .c9 {
    width: 7vw;
    height: 10vw;
}
.c1, .c4, .c7 {
    margin-left: -1vw;
}

.c3, .c9 {
    width: 7vw;
    height: 10vw;
    margin-left: 8vw;
}

.c2, .c8 {
    width: 50vw;
    height: 10vw;
}

.c4, .c6 {
    width: 10vw;
    height: 20vw;
}


.c1 {
    
    margin-bottom: 2vw;
    margin-left: -1.5vw;
}

.c2 {
    padding-left: 4vw;
    padding-top: -2vw
}

.c3 {
    margin-left: 5vw;
}

.c4 {
    margin-bottom: 2vw;
   
}


.c5 {
    width: 57vw;
    height: 20vw;
    
    

}
.taula {
    width: 220%;
    height: 170%;
    background-image: url(/img/mesa.png);
    background-repeat: no-repeat;
    background-size: 60vw 36vw;
    margin-bottom: 1vw;
    margin-left: -1vw;
}


.c6 {
    margin-left: 2.3vw;
}

.c7 {
    padding-top: 1.7vw;
}

.c8 {
    padding-left: 4vw;
    padding-top: 2vw;
}
.c9 {
    padding-top: 1.7vw;
    margin-left: 5vw;
}
.contenedor-cartas-horizontal {
    display: flex;
    width: 20vw;
    
    height: 10vw;
}

.porta-carta {
    width: 20vw;
    height: 9vw;
    
}
.contenedor-cartas-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

}
.porta-carta-vertical {
    width: 10vw;
    height: 20vw;
    
}



.baralla {
    width: 80%;
    height: 9vw;
}

.carta {
    width: 80%;
    height: 9vw;
    
}



.carta-horitzontal{
    width: 9vw;
    
    height: 80%;
}

