<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor" id="contenedor">
        <div class="celda c1">
            <img src="../img/imagenes-vertical/10_copas.png" class="baralla">
          </div>
      
          <div class="celda c2">
            <div class="contenedor-cartas-horizontal">
              <div class="porta-carta"><div class="mov_c2_carta1"><img src="" class="carta"></div></div>
              <div class="porta-carta"><div class="mov_c2_carta2"><img src="" class="carta"></div></div>
              <div class="porta-carta"><div class="mov_c2_carta3"><img src="" class="carta"></div></div>
            </div>
          </div>
      
          <div class="celda c3">
            <img src="../img/imagenes-vertical/10_copas.png" class="baralla">
          </div>
      
          <div class="celda c4">
            <div class="contenedor-cartas-vertical">
              <div class="porta-carta-vertical"><div class="mov_c4_carta1"><img src="" class="carta-horitzontal"></div></div>
              <div class="porta-carta-vertical"><div class="mov_c4_carta2"><img src="" class="carta-horitzontal"></div></div>
              <div class="porta-carta-vertical"><div class="mov_c4_carta3"><img src="" class="carta-horitzontal"></div></div>
            </div>
          </div>
      
          <div class="celda c5">
            <div class="taula"></div>
          </div>
      
          <div class="celda c6">
            <div class="contenedor-cartas-vertical">
              <div class="porta-carta-vertical"><div class="mov_c6_carta1"><img src="" class="carta-horitzontal"></div></div>
              <div class="porta-carta-vertical"><div class="mov_c6_carta2"><img src="" class="carta-horitzontal"></div></div>
              <div class="porta-carta-vertical"><div class="mov_c6_carta3"><img src="" class="carta-horitzontal"></div></div>
            </div>
          </div>
      
          <div class="celda c7">
            <img src="../img/imagenes-vertical/10_copas.png" class="baralla">
          </div>    
      
          <div class="celda c8">
            <div class="contenedor-cartas-horizontal">
              <div class="porta-carta"><div class="mov_c8_carta1"><img src="" class="carta"></div></div>
              <div class="porta-carta"><div class="mov_c8_carta2"><img src="" class="carta"></div></div>
              <div class="porta-carta"><div class="mov_c8_carta3"><img src="" class="carta"></div></div>
            </div>
          </div>
      
          <div class="celda c9">
            <img src="../img/imagenes-vertical/10_copas.png" class="baralla">
          </div>
    </div>
</body>
</html>