<app-header></app-header>
    <div class="contenedor" id="contenedor">
        <div class="celda c1">
            
          </div>
      
          <div class="celda c2">
            <div class="contenedor-cartas-horizontal">
              <div class="porta-carta"><div class="mov_c2_carta1"><img src="./assets/img/card_back.png" class="carta"></div></div>
              <div class="porta-carta"><div class="mov_c2_carta2"><img src="./assets/img/card_back.png" class="carta"></div></div>
            </div>
          </div>
      
          <div class="celda c3">
            
          </div>
      
          <div class="celda c4">
            <div class="contenedor-cartas-vertical">
              <div class="porta-carta-vertical"><div class="mov_c4_carta1"><img src="./assets/img/card_back_horizontal.png" class="carta-horitzontal"></div></div>
              <div class="porta-carta-vertical"><div class="mov_c4_carta2"><img src="./assets/img/card_back_horizontal.png" class="carta-horitzontal"></div></div>
            </div>
          </div>
      
          <div class="celda c5">
            <div class="taula"></div>
          </div>
      
          <div class="celda c6">
            <div class="contenedor-cartas-vertical">
              <div class="porta-carta-vertical"><div class="mov_c6_carta1"><img src="./assets/img/card_back_horizontal.png" class="carta-horitzontal"></div></div>
              <div class="porta-carta-vertical"><div class="mov_c6_carta2"><img src="./assets/img/card_back_horizontal.png" class="carta-horitzontal"></div></div>
            </div>
          </div>
      
          <div class="celda c7">
            
          </div>    
      
          <div class="celda c8">
            <div class="contenedor-cartas-horizontal">
              <div class="porta-carta"><div class="mov_c8_carta1"><img src="./assets/img/A_of_hearts.png" class="carta"></div></div>
              <div class="porta-carta"><div class="mov_c8_carta2"><img src="./assets/img/Q_of_hearts.png" class="carta"></div></div>
            </div>
          </div>
      
          <div class="celda c9">
            <button class="button-33">Pujar</button>
            <button class="button-33">Pasar</button>
            <button class="button-33">Retirarse</button>
          </div>
    </div>
    <app-footer></app-footer>